body {
  background: linear-gradient(to bottom, rgb(73,138,220), rgb(98,59,156));
  text-align: center;
   min-height: 100vh;
    display: flex;
    flex-direction: column
}
.upDiv {
    display: flex;
    flex-direction: column;
    padding: 10% 8% 0 8%;
    flex: 1 0 auto;
}

.localDiv {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
}

.northDiv {
    flex: 1 0 auto;
}

.forecastDiv {
    flex: 1 0 auto;
}

.forecastDiv #text {
    text-align: left;
}

    .imgDiv{
        flex: 1 0 auto;
    }


#submitDiv {
    display: flex;
    flex-direction: row;
}

#city {
    flex: 1 0 auto;
}

#btn {
    flex: 1 0 auto;
}

.currentDiv {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    flex: 1 0 auto;
}

.currentDiv #text {
    display: flex;
    flex-direction: column;
    border-right: 2px solid black;
}

@media only screen and (min-width: 500px) {
  body {
    background-color: lightblue;
  }
}
div {
    
}
