
body {
	display: flex;
	flex-direction: column;  /* stack items inside vertically */ 
	font-family: montserrat, sans-serif; 
	font-weight: 500; 
	font-style: normal;
}

header {
	/*background-color: paleturquoise;*/
	display: flex;
	flex-direction: column-reverse; 
	text-align: center;
	font-family: helvetica;
	/*font-weight: 500; */
	font-style: normal;
	/*border: 2px red solid;*/
}

	.w0 {
		color: rgb(46,49,146);
		/*border: 2px blue solid; */
		padding-bottom: 3%;
		font-size: 3.7vw;
	}

	.w0 span {
		color: rgb(201,82,61);
		font-weight: bold;
	}

	nav {
		display: flex;
		justify-content: space-around;
		font-size: 5vw;
		/*font-stretch: expanded;*/
		/*border: 2px blue solid; */
		padding: 5% 0;
	}

	nav a {
		color: black;
		text-decoration: none;
		/*border: 2px blue solid; */
		/*font-stretch: expanded;*/
  		margin: auto;
	}


/* flex item contained in body */
main {
	flex-grow: 1; 
	flex-shrink: 0;
	flex-basis: auto;
	/* always be large enough to contain contents, and grow if there is extra space in the body */
	}

/*first module*/
	div.one {
		display: flex;
		flex-direction: column;
		background: rgb(249,172,120);
	}

		div.w1 {
			display: flex;
			flex-direction: column;
			align-content: center;
			justify-content: center;
			flex-grow: 1;
			/*border: 2px red solid;*/
			color: white;
			padding: 5% 0;

			/*margin: 1%;*/
		}
			p.s1 {
				font-family: montserrat, sans-serif; 
				font-weight: bold; 
				font-size: 9.6vw;
				margin-bottom: 1%;
				width: 100%;
				text-align: center;
				/*border: 1px red solid;*/
			}

			p.s2 {
				font-size: 6vw;
				font-style: italic;
				font-stretch: expanded;
				text-align: center;
				
			}

			p.s3 {
				font-family: montserrat, sans-serif;
				/*font-size: 14pt; */
				font-size: 1em;
				line-height: 1.5;
				font-weight: 200;
			}

		div.img1 {
			flex-grow: 1;
			/*overflow: auto;*/
		} 

/*second module*/
	div.two {
		display: flex;
		flex-direction: column;
	}

		div.w2 {
			display: flex;
			flex-direction: column;
			flex-grow: 1;
			/*border: 2px red solid;*/
			margin: 0 10%;
		}
			.t2 {
				display: flex;
				flex-direction: column;
				padding: 3% 0;
				margin-bottom: 3%;
				border-bottom: 1px black solid;
				color: rgb(201,82,61);
				font-size: 4.8vw;
			}

				.two .bold {
					font-weight: bold;
					margin-bottom: 2%;
				}
		button {
			border: none;
			background: none;
			text-decoration:underline;
			color: rgb(201,82,61);
			/*font-weight: 500;*/
			text-align: left;
			/*border: 2px blue solid;*/
			padding-left: 0;
			padding-bottom: 4%;
			cursor: pointer;
			margin-top: 4%;
			font-size: 1.2em;

		}

		div.img2 {
			order: 2;
			flex-grow: 1;
			margin: 4%;
		}

/*third module*/
div.three {
	/* display: flex; */
	/* flex-direction: column-reverse; */
	margin-bottom: 2%;
}

	div.img3 {
		order: 3;
		float: left;
		flex-grow: 1;
		margin: 4%;
		/*border: 2px red solid;*/
	}

	div.w3 {
		margin: 0 10%;
		display: flex;
		flex-direction: column;
		flex-grow: 1;
		/*border: 2px red solid;*/
/*		margin-right: 10%;
		padding-top: 1%;
		padding-left: 1%*/;
	}

	#i1 {
		display: none;
	}

		.p2 {
			margin-top:5%;
			/*border: 2px red solid;*/
		}
img {
	width: 100%;  
	/* fill up div.image */
}

/*footer*/
footer {
	/*background-color: paleturquoise;*/
	display: flex;
	flex-direction: column;
	background: rgb(249,172,120);
	color: rgb(201,82,61);
	padding: 5% 10%;

	flex-grow: 1; 
	flex-shrink: 0;
	flex-basis: auto;
}

	.foot {
		display: flex;
		flex-direction: column;
	}
	footer .bold {
		font-weight: bold;
		margin-bottom: 20px;
	}

	#f2 {
		margin-top: 2%;
	}

	footer p {
		/*margin-bottom: 1%;*/
		line-height: 1.5;
	}

#btn3 {
	display: none;
	margin: 0 10% 5% 10%;
}

.moreFlexContent {
	display: flex;
}

.moreInitialContent {
	display: initial;
} 

.moreBlockContent {
	display: block;
}

.lessContent{
	display: none;
}

.moreInlineContent {
	display: inline;
}

.moreInlineBlockContent {
	display: inline-block;
}

/* media query switches to tablet view in wide window */
@media screen and (min-width: 480px) {
/*	body {
		background: grey;
	}*/

	header {
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}

		.w0 {
			margin-left: 2%;
			padding-bottom: 0;
			font-size: 2.3vw;
		}

		nav {
			margin-right: 2%;
			font-size: 3vw;
		}

	div.one {
		flex-direction: row;
	}

		div.w1 {
			padding: 0;
			
		}

			p.s1 {
				font-size: 6.6vw;
				/*border: 1px red solid;*/
			}

			p.s2 {
				font-size: 4.2vw;
			}

			#less1 {
				display: initial;
			}
		div.img1 {
			width: 20%;
			vertical-align: bottom;
		}

		div.w2 {
			display: inline;
			/*flex-direction: column;*/
			flex-grow: 1;
			/*border: 2px red solid;*/
			margin: 0 10%;
		}

			.t2 {
				display: flex;
				flex-direction: column;
				padding-top: 4%;
				padding-bottom: 2%;
				margin-bottom: 2%;
				font-size: 2.4vw;
			}

				.two .bold {
					font-weight: bold;
					margin-bottom: 2%;
				}

		div img {
			display: block;
		}

		div.img2 {
			width: 50%;
			margin: 4% 0 2% 2%;
			float: right;
			display: block;
		}

/*third*/
	div.three {
	/* display: flex; */
	flex-direction: column-reverse;
	margin-bottom: 2%;
	}

	div.img3 {
		float: left;
		margin: 0 2% 0 0;
		width: 40%;
		/*border: 2px red solid;*/
	}

	.few {
		margin-bottom: 4%;
	}

	div.w3 {
		display: inline-block;
	}

		.p2 {
			margin-top:0;
			/*border: 2px red solid;*/
		}

		p.s3 {
			font-weight: 200;
			/*font-size: 12pt;*/
			font-size: 1em;
		}

	#i1 {
		display: none;
	}

	#i2 {
		display: inline-block;
	}

/*footer*/




	#f2 {
		margin-top: 0;
		margin-left: 4%;
	}

/*	footer .bold {
		font-weight: bold;
		margin-bottom: 8%;
	}*/

/*	footer p {
		
		margin-bottom: 1%;
	}
*/

#btn3 {
	display: inline-block;
	margin: 1% 10% 0 10%;
	/*font-size: normal;*/
}

}

@media screen and (min-width: 480px) and (max-width: 780px) {
	.bigfoot {
		display: flex;
		flex-direction: row;
		padding: 5% 10%;
		font-size: 2vw;
	}

	#btn1 {
		display: none;
	}

	#btn2 {
		display: none;
	}

}

@media screen and (min-width: 780px) {

	header{
		flex-direction: row;

	}

	.w0 {
		margin-left: 10%;
		font-size: 2vw;
	}

	nav {
		margin-right: 10%;
		font-size: 2.2vw;
	}

	.t2 .bold {
		margin-bottom: 4%;
	}

	p.bold {
		font-weight: bold;
		margin-bottom: 20px;
	}

		div.w1 {
			flex-direction: column;
			width: 70%;
			margin-right: 10%;
		}

		div.img1 {
			margin-left: 10%;
		}

	div.two {
		flex-direction: row;
		margin-top: 2%;
	}

		div.w2 {
			width: 40%;
			margin-left: 10%;

		}
			.t2 {
				padding-bottom: 2%;
				border-bottom: 1px black solid;
			}

		div.img2 {
			margin-right: 0;
			margin-left: 1%
		}

	div.three {
		flex-direction: row;
		/*flex-grow: 1;*/
		/*overflow: auto;*/
		margin-bottom: 2%;
	}
		.few {
			margin-bottom: 2%;
			order: 2;
		}

		p.p2 {
			order: 3;
		}

		p.s3 {
			/*font-size: 1.5vw;*/
		}

		div.img3 {
			float: left;
			flex-grow: 1;
			/*border: 2px red solid;*/
			margin-left: 0;
			order: 1;
		}

		#i1 {
			display: inline-block;
		}

		#i2 {
			display: none;
		}


		div.w3 {
			flex-direction: column;
			flex-grow: 1;
			/*border: 2px red solid;*/
			margin-right: 10%;
			padding-top: 1%;
			/*padding-left: 1%;*/
		}

	#btn1 {
		margin-top: 1.5%;
		/*font-size: 1.5vw;*/
	}

	#btn2 {
		margin-top: 1.5%;
		/*font-size: 1.5vw;*/
	}

	#btn3 {
		/*margin-top: 2%;*/
		/*font-size: 2vw;*/
		display: none;
	}

	footer {
		flex-direction: row;
	}

	.foot {
		font-size: 2vw;
	}


/*	.bigfoot {
		display: none;
	}*/


}



